.header {
  clear: both;
  border-bottom: 1px solid rgba(204, 204, 204, 0.25);
}
.header .flex {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 50px;
  line-height: 50px;
}
.header .flex :nth-child(1) {
  flex: 1 1 80px;
}
.header .flex :nth-child(1) img {
  width: 50px;
  height: 50px;
  float: left;
  border-radius: 2px;
}
.header .flex :nth-child(1) span {
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
}
.header .flex :nth-child(2) {
  flex: 2 2 200px;
}
.header .flex :nth-child(2) a {
  margin-right: 25px;
  text-decoration: none;
  color: #000;
}
.header .flex :nth-child(3) {
  flex: auto;
  text-align: right;
  font-weight: bold;
  padding-right: 20px;
}
.header .flex :nth-child(3) .user_img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 20px;
  float: right;
}
.parent {
  clear: both;
  margin-top: 10px;
  display: flex;
  flex-flow: row;
  position: fixed;
  bottom: 0;
  top: 50px;
  right: 0;
  left: 0;
}
.stable {
  width: 200px;
  /*固定宽度*/
  background-color: #324157;
}
.stable .list-group-item {
  border-radius: 0;
  border: none;
  background-color: #324157;
}
.stable .list-group-item i.fa {
  margin: 0 5px;
  color: #fff;
}
.stable .list-group-item span {
  color: #fff;
}
.stable .list-group-item .menu-name {
  padding: 15px 5px;
}
.stable .list-group-item .menu-list ul {
  margin: 0;
  padding-left: 25px;
}
.stable .list-group-item .menu-list ul li {
  list-style: none;
  padding: 8px 0;
}
.stable .list-group-item .menu-list ul li a {
  color: #fff;
  font-size: 12px;
}
.stable .list-group-item:hover {
  background-color: #48576a;
  cursor: pointer;
}
.change {
  flex: 1;
  /*这里设置为占比1，填充满剩余空间*/
  border-top: 1px solid rgba(204, 204, 204, 0.25);
  border-left: none;
  padding: 10px;
  overflow: scroll;
}
.change .breadcrumb {
  margin-bottom: 10px;
}
.change .search-form {
  margin: 10px 0;
}
.login-main {
  width: 1000px;
  border: 1px solid rgba(221, 221, 221, 0.7);
  margin: 200px auto;
  border-radius: 5px;
  padding: 20px;
}
.login-main .login-head span {
  font-size: 20px;
  font-weight: bold;
}
.login-main .login-head img {
  width: 50px;
  height: 50px;
  border-radius: 2px;
}
.login-main .login-content {
  width: 700px;
  margin: 50px auto;
}
.login-main .login-content .form-item {
  margin: 15px 0;
}
.login-main .login-content .form-item input {
  height: 40px;
  margin-top: 2px;
  width: 400px;
}
.login-main .login-content .form-item label {
  display: inline-block;
  text-align: right;
  width: 80px;
}
.login-main .login-content .form-item input.captcha {
  width: 324px;
  margin-left: 20px;
}
.login-main .login-content .form-item img {
  border-radius: 2px;
}
.login-main .login-content .form-item .btn {
  width: 465px;
  margin-left: 19px;
}
.login-main .login-footer {
  margin-top: 60px;
  text-align: right;
  font-size: 12px;
  color: #7f7f7f;
}
.spaceNode,
.devicesNode {
  font-size: 8px;
  line-height: 30px;
  height: 60px;
  border: 1px solid yellowgreen;
}
.operate {
  background-color: #fff;
  position: relative;
  float: bottom;
  display: none;
}
.selectedNode:hover .operate {
  display: block;
}
.jOrgChart .node .nodeIcon {
  margin-right: 5px;
  font-size: 16px;
}
.jOrgChart .node i.fa {
  margin: 0 2px;
  font-size: 16px;
}
.jOrgChart .node .popover {
  display: none;
  width: 200px;
}
.jOrgChart .node .popover .popover-content {
  padding: 9px 14px;
  text-align: center;
}
.jOrgChart .node .popover .popover-content .btn {
  margin: 0 10px;
}
.jOrgChart .node .popover.bottom {
  margin-top: 72px;
  margin-left: -54px;
}
.jOrgChart .node .btn-add-space-confim {
  cursor: pointer;
}
.jOrgChart .node .popover-add-device {
  max-width: 1000px;
  width: 1000px;
}
.jOrgChart .node .popover-add-device .form-inline {
  margin-left: 20px;
  margin-top: 10px;
}
.jOrgChart .node .popover-add-device .form-inline > div {
  margin: 10px 0;
}
.jOrgChart .node .popover-add-device.bottom > .arrow {
  left: 6%;
}
.jOrgChart .node .popover-edit-space {
  width: 340px;
  max-width: 400px;
}

.layout {
  width: 1200px;
  color: #333;
}

/* Basic styling */
/* Draw the lines */
.jOrgChart .line {
  height: 20px;
  width: 4px;
}
.jOrgChart .down {
  background-color: black;
  margin: 0px auto;
}
.jOrgChart .top {
  border-top: 3px solid black;
}
.jOrgChart .left {
  border-right: 2px solid black;
}
.jOrgChart .right {
  border-left: 2px solid black;
}
/* node cell */
.jOrgChart td {
  text-align: center;
  vertical-align: top;
  padding: 0;
}
.jOrgChart > ul {
  visibility: hidden;
}
/* The node */
.jOrgChart .node {
  display: inline-block;
  width: 120px;
  height: 60px;
  z-index: 10;
  margin: 0 2px;
  position: relative;
  font-size: 8px;
}
/* jQuery drag 'n drop */
.drag-active {
  border-style: dotted !important;
}
.drop-hover {
  border-style: solid !important;
  border-color: #E05E00 !important;
}

.laydate_body .laydate_box,
.laydate_body .laydate_box * {
  margin: 0;
  padding: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.laydate-icon,
.laydate-icon-default,
.laydate-icon-danlan,
.laydate-icon-dahong,
.laydate-icon-molv {
  height: 22px;
  line-height: 22px;
  padding-right: 20px;
  border: 1px solid #C6C6C6;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #fff;
  outline: 0;
}
.laydate-icon-default {
  background-image: url(../images/skins/default/icon.png);
}
.laydate-icon-danlan {
  border: 1px solid #B1D2EC;
  background-image: url(../images/skins/danlan/icon.png);
}
.laydate-icon-dahong {
  background-image: url(../images/skins/dahong/icon.png);
}
.laydate-icon-molv {
  background-image: url(../images/skins/molv/icon.png);
}
.laydate_body .laydate_box {
  width: 240px;
  font: 12px '\5B8B\4F53';
  z-index: 99999999;
  *margin: -2px 0 0 -2px;
  *overflow: hidden;
  _margin: 0;
  _position: absolute!important;
  background-color: #fff;
}
.laydate_body .laydate_box li {
  list-style: none;
}
.laydate_body .laydate_box .laydate_void {
  cursor: text!important;
}
.laydate_body .laydate_box a,
.laydate_body .laydate_box a:hover {
  text-decoration: none;
  cursor: pointer;
}
.laydate_body .laydate_box a:hover {
  text-decoration: none;
}
.laydate_body .laydate_box cite,
.laydate_body .laydate_box label {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: dashed;
  border-color: transparent;
  overflow: hidden;
  cursor: pointer;
}
.laydate_body .laydate_box .laydate_yms,
.laydate_body .laydate_box .laydate_time {
  display: none;
}
.laydate_body .laydate_box .laydate_show {
  display: block;
}
.laydate_body .laydate_box input {
  outline: 0;
  font-size: 14px;
  background-color: #fff;
}
.laydate_body .laydate_top {
  position: relative;
  height: 26px;
  padding: 5px;
  *width: 100%;
  z-index: 99;
}
.laydate_body .laydate_ym {
  position: relative;
  float: left;
  height: 24px;
  cursor: pointer;
}
.laydate_body .laydate_ym input {
  float: left;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.laydate_body .laydate_ym .laydate_yms {
  position: absolute;
  left: -1px;
  top: 24px;
  height: 181px;
}
.laydate_body .laydate_y {
  width: 121px;
  margin-right: 6px;
}
.laydate_body .laydate_y input {
  width: 64px;
  margin-right: 15px;
}
.laydate_body .laydate_y .laydate_yms {
  width: 121px;
  text-align: center;
}
.laydate_body .laydate_y .laydate_yms a {
  position: relative;
  display: block;
  height: 20px;
}
.laydate_body .laydate_y .laydate_yms ul {
  height: 139px;
  padding: 0;
  *overflow: hidden;
}
.laydate_body .laydate_y .laydate_yms ul li {
  float: left;
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.laydate_body .laydate_m {
  width: 99px;
}
.laydate_body .laydate_m .laydate_yms {
  width: 99px;
  padding: 0;
}
.laydate_body .laydate_m input {
  width: 42px;
  margin-right: 15px;
}
.laydate_body .laydate_m .laydate_yms span {
  display: block;
  float: left;
  width: 42px;
  margin: 5px 0 0 5px;
  line-height: 24px;
  text-align: center;
  _display: inline;
}
.laydate_body .laydate_choose {
  display: block;
  float: left;
  position: relative;
  width: 20px;
  height: 24px;
}
.laydate_body .laydate_choose cite,
.laydate_body .laydate_tab cite {
  left: 50%;
  top: 50%;
}
.laydate_body .laydate_chtop cite {
  margin: -7px 0 0 -5px;
  border-bottom-style: solid;
}
.laydate_body .laydate_chdown cite,
.laydate_body .laydate_ym label {
  top: 50%;
  margin: -2px 0 0 -5px;
  border-top-style: solid;
}
.laydate_body .laydate_chprev cite {
  margin: -5px 0 0 -7px;
}
.laydate_body .laydate_chnext cite {
  margin: -5px 0 0 -2px;
}
.laydate_body .laydate_ym label {
  right: 28px;
}
.laydate_body .laydate_table {
  width: 230px;
  margin: 0 5px;
  border-collapse: collapse;
  border-spacing: 0px;
}
.laydate_body .laydate_table td {
  width: 31px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}
.laydate_body .laydate_table thead {
  height: 22px;
  line-height: 22px;
}
.laydate_body .laydate_table thead th {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
.laydate_body .laydate_bottom {
  position: relative;
  height: 22px;
  line-height: 20px;
  padding: 5px;
  font-size: 12px;
}
.laydate_body .laydate_bottom #laydate_hms {
  position: relative;
  z-index: 1;
  float: left;
}
.laydate_body .laydate_time {
  position: absolute;
  left: 5px;
  bottom: 26px;
  width: 129px;
  height: 125px;
  *overflow: hidden;
}
.laydate_body .laydate_time .laydate_hmsno {
  padding: 5px 0 0 5px;
}
.laydate_body .laydate_time .laydate_hmsno span {
  display: block;
  float: left;
  width: 24px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  *margin-bottom: -5px;
}
.laydate_body .laydate_time1 {
  width: 228px;
  height: 154px;
}
.laydate_body .laydate_time1 .laydate_hmsno {
  padding: 6px 0 0 8px;
}
.laydate_body .laydate_time1 .laydate_hmsno span {
  width: 21px;
  height: 20px;
  line-height: 20px;
}
.laydate_body .laydate_msg {
  left: 49px;
  bottom: 67px;
  width: 141px;
  height: auto;
  overflow: hidden;
}
.laydate_body .laydate_msg p {
  padding: 5px 10px;
}
.laydate_body .laydate_bottom li {
  float: left;
  height: 20px;
  line-height: 20px;
  border-right: none;
  font-weight: 900;
}
.laydate_body .laydate_bottom .laydate_sj {
  width: 33px;
  text-align: center;
  font-weight: 400;
}
.laydate_body .laydate_bottom input {
  float: left;
  width: 21px;
  height: 20px;
  line-height: 20px;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
}
.laydate_body .laydate_bottom .laydte_hsmtex {
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.laydate_body .laydate_bottom .laydte_hsmtex span {
  position: absolute;
  width: 20px;
  top: 0;
  right: 0px;
  cursor: pointer;
}
.laydate_body .laydate_bottom .laydte_hsmtex span:hover {
  font-size: 14px;
}
.laydate_body .laydate_bottom .laydate_btn {
  position: absolute;
  right: 5px;
  top: 5px;
}
.laydate_body .laydate_bottom .laydate_btn a {
  float: left;
  height: 20px;
  padding: 0 6px;
  _padding: 0 5px;
}
.laydate_body .laydate_bottom .laydate_v {
  position: absolute;
  left: 10px;
  top: 6px;
  font-family: Courier;
  z-index: 0;
}
.laydate-icon {
  border: 1px solid #C6C6C6;
  background-image: url(../images/skins/yalan/icon.png);
}
.laydate_body .laydate_box,
.laydate_body .laydate_table,
.laydate_body .laydate_table td,
.laydate_body .laydate_bottom #laydate_hms,
.laydate_body .laydate_time,
.laydate_body .laydate_bottom .laydate_btn a {
  border: 1px solid #34AADC;
}
.laydate_body .laydate_box {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.laydate_body .laydate_box {
  background-color: #34AADC!important;
  color: #fff;
}
.laydate_body .laydate_box input {
  background: none!important;
  color: #fff;
}
.laydate_body .laydate_box .laydate_void {
  color: #fff!important;
  background: none!important;
}
.laydate_body .laydate_box a,
.laydate_body .laydate_box a:hover {
  color: #333;
}
.laydate_body .laydate_box a:hover {
  color: #666;
}
.laydate_body .laydate_click {
  background-color: #67BFE4!important;
  color: #fff!important;
}
.laydate_body .laydate_ym {
  background-color: #50B5E0;
  border: 1px solid #50B5E0;
}
.laydate_body .laydate_ym .laydate_yms {
  border: 1px solid #2293C4;
  background-color: #2293C4;
}
.laydate_body .laydate_y .laydate_yms a {
  border-bottom: 1px solid #50B5E0;
  background-color: #50B5E0;
}
.laydate_body .laydate_y .laydate_yms .laydate_chdown {
  border-top: 1px solid #50B5E0;
  border-bottom: none;
}
.laydate_body .laydate_chprev {
  border-left: none;
  border-right: 1px solid #50B5E0;
}
.laydate_body .laydate_choose:hover,
.laydate_body .laydate_y .laydate_yms a:hover {
  background-color: #61BBE2;
}
.laydate_body .laydate_chtop cite {
  border-bottom-color: #C7E8F5;
}
.laydate_body .laydate_chdown cite,
.laydate_body .laydate_ym label {
  border-top-color: #C7E8F5;
}
.laydate_body .laydate_chprev cite {
  border-right-style: solid;
  border-right-color: #C7E8F5;
}
.laydate_body .laydate_chnext cite {
  border-left-style: solid;
  border-left-color: #C7E8F5;
}
.laydate_body .laydate_table td {
  border: none;
  height: 21px!important;
  line-height: 21px!important;
  background-color: #50B5E0;
  color: #fff;
}
.laydate_body .laydate_table .laydate_nothis {
  background: none;
}
.laydate_body .laydate_table thead {
  height: 21px!important;
  line-height: 21px!important;
}
.laydate_body .laydate_bottom {
  border-bottom: 1px solid #34AADC;
  color: #fff;
}
.laydate_body .laydate_bottom #laydate_hms {
  background-color: #50B5E0;
}
.laydate_body .laydate_time {
  background-color: #2293C4;
}
.laydate_body .laydate_bottom .laydate_sj {
  border-right: 1px solid #50B5E0;
  background-color: #50B5E0;
  color: #fff;
}
.laydate_body .laydate_bottom .laydte_hsmtex {
  border-bottom: 1px solid #67BFE4;
  background-color: #2293C4;
}
.laydate_body .laydate_bottom .laydate_btn {
  border-right: 1px solid #34AADC;
}
.laydate_body .laydate_bottom .laydate_v {
  color: #ccc;
}
.laydate_body .laydate_bottom .laydate_btn a {
  border-right: none;
  background-color: #50B5E0;
  color: #fff;
}
.laydate_body .laydate_bottom .laydate_btn a:hover {
  background-color: #6BC0E4;
}
.laydate_body .laydate_m .laydate_yms span:hover,
.laydate_body .laydate_y .laydate_yms ul li:hover,
.laydate_body .laydate_table td:hover,
.laydate_body .laydate_time .laydate_hmsno span:hover {
  background-color: #87CBE9;
  color: #fff;
}

.ztree * {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree {
  margin: 0;
  padding: 5px;
  color: #333;
}
.ztree li {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  outline: 0;
}
.ztree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.ztree li ul.line {
  background: url(../images/zTree/line_conn.png) 0 0 repeat-y;
}
.ztree li a {
  padding-right: 3px;
  margin: 0;
  cursor: pointer;
  height: 21px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
}
.ztree li a:hover {
  text-decoration: underline;
}
.ztree li a.curSelectedNode {
  padding-top: 0px;
  background-color: #e5e5e5;
  color: black;
  height: 21px;
  opacity: 0.8;
}
.ztree li a.curSelectedNode_Edit {
  padding-top: 0px;
  background-color: #e5e5e5;
  color: black;
  height: 21px;
  border: 1px #666 solid;
  opacity: 0.8;
}
.ztree li a.tmpTargetNode_inner {
  padding-top: 0px;
  background-color: #aaa;
  color: white;
  height: 21px;
  border: 1px #666 solid;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.ztree li a input.rename {
  height: 14px;
  width: 80px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  border: 1px #585956 solid;
  *border: 0px;
}
.ztree li span {
  line-height: 21px;
  margin-right: 2px;
}
.ztree li span.button {
  line-height: 0;
  margin: 0;
  padding: 0;
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("../images/zTree/metro.png");
  *background-image: url("../images/zTree/metro.gif");
}
.ztree li span.button.chk {
  width: 13px;
  height: 13px;
  margin: 0 2px;
  cursor: auto;
}
.ztree li span.button.chk.checkbox_false_full {
  background-position: -5px -5px;
}
.ztree li span.button.chk.checkbox_false_full_focus {
  background-position: -5px -26px;
}
.ztree li span.button.chk.checkbox_false_part {
  background-position: -5px -48px;
}
.ztree li span.button.chk.checkbox_false_part_focus {
  background-position: -5px -68px;
}
.ztree li span.button.chk.checkbox_false_disable {
  background-position: -5px -89px;
}
.ztree li span.button.chk.checkbox_true_full {
  background-position: -26px -5px;
}
.ztree li span.button.chk.checkbox_true_full_focus {
  background-position: -26px -26px;
}
.ztree li span.button.chk.checkbox_true_part {
  background-position: -26px -48px;
}
.ztree li span.button.chk.checkbox_true_part_focus {
  background-position: -26px -68px;
}
.ztree li span.button.chk.checkbox_true_disable {
  background-position: -26px -89px;
}
.ztree li span.button.chk.radio_false_full {
  background-position: -47px -5px;
}
.ztree li span.button.chk.radio_false_full_focus {
  background-position: -47px -26px;
}
.ztree li span.button.chk.radio_false_part {
  background-position: -47px -47px;
}
.ztree li span.button.chk.radio_false_part_focus {
  background-position: -47px -68px;
}
.ztree li span.button.chk.radio_false_disable {
  background-position: -47px -89px;
}
.ztree li span.button.chk.radio_true_full {
  background-position: -68px -5px;
}
.ztree li span.button.chk.radio_true_full_focus {
  background-position: -68px -26px;
}
.ztree li span.button.chk.radio_true_part {
  background-position: -68px -47px;
}
.ztree li span.button.chk.radio_true_part_focus {
  background-position: -68px -68px;
}
.ztree li span.button.chk.radio_true_disable {
  background-position: -68px -89px;
}
.ztree li span.button.switch {
  width: 21px;
  height: 21px;
}
.ztree li span.button.root_open {
  background-position: -105px -63px;
}
.ztree li span.button.root_close {
  background-position: -126px -63px;
}
.ztree li span.button.roots_open {
  background-position: -105px 0;
}
.ztree li span.button.roots_close {
  background-position: -126px 0;
}
.ztree li span.button.center_open {
  background-position: -105px -21px;
}
.ztree li span.button.center_close {
  background-position: -126px -21px;
}
.ztree li span.button.bottom_open {
  background-position: -105px -42px;
}
.ztree li span.button.bottom_close {
  background-position: -126px -42px;
}
.ztree li span.button.noline_open {
  background-position: -105px -84px;
}
.ztree li span.button.noline_close {
  background-position: -126px -84px;
}
.ztree li span.button.root_docu {
  background: none;
}
.ztree li span.button.roots_docu {
  background-position: -84px 0;
}
.ztree li span.button.center_docu {
  background-position: -84px -21px;
}
.ztree li span.button.bottom_docu {
  background-position: -84px -42px;
}
.ztree li span.button.noline_docu {
  background: none;
}
.ztree li span.button.ico_open {
  margin-right: 2px;
  background-position: -147px -21px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.ico_close {
  margin-right: 2px;
  background-position: -147px 0;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.ico_docu {
  margin-right: 2px;
  background-position: -147px -42px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.edit {
  margin-left: 2px;
  margin-right: -1px;
  background-position: -189px -21px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.edit:hover {
  background-position: -168px -21px;
}
.ztree li span.button.remove {
  margin-left: 2px;
  margin-right: -1px;
  background-position: -189px -42px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.remove:hover {
  background-position: -168px -42px;
}
.ztree li span.button.add {
  margin-left: 2px;
  margin-right: -1px;
  background-position: -189px 0;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.add:hover {
  background-position: -168px 0;
}
.ztree li span.button.ico_loading {
  margin-right: 2px;
  background: url(../images/zTree/loading.gif) no-repeat scroll 0 0 transparent;
  vertical-align: top;
  *vertical-align: middle;
}
ul.tmpTargetzTree {
  background-color: #FFE6B0;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
span.tmpzTreeMove_arrow {
  width: 16px;
  height: 21px;
  display: inline-block;
  padding: 0;
  margin: 2px 0 0 1px;
  border: 0 none;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -168px -84px;
  background-image: url("../images/zTree/metro.png");
  *background-image: url("../images/zTree/metro.gif");
}
ul.ztree.zTreeDragUL {
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #cfcfcf;
  border: 1px #00B83F dotted;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.ztreeMask {
  z-index: 10000;
  background-color: #cfcfcf;
  opacity: 0.0;
  filter: alpha(opacity=0);
  position: absolute;
}

@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
.ngdialog.ngdialog-theme-default {
  padding-bottom: 160px;
  padding-top: 160px;
}
.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout 0.5s;
  animation: ngdialog-flyout 0.5s;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
  -webkit-animation: ngdialog-flyin 0.5s;
  animation: ngdialog-flyin 0.5s;
  background: #fff;
  border-radius: 5px;
  color: #444;
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
}
.ngdialog.ngdialog-theme-default .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 30px;
  height: 30px;
}
.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #bbb;
  content: '\00D7';
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}
.ngdialog.ngdialog-theme-default .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-default .ngdialog-close:active:before {
  color: #777;
}
.ngdialog.ngdialog-theme-default .ngdialog-message {
  margin-bottom: .5em;
}
.ngdialog.ngdialog-theme-default .ngdialog-input {
  margin-bottom: 1em;
}
.ngdialog.ngdialog-theme-default .ngdialog-input textarea,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%;
}
.ngdialog.ngdialog-theme-default .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"]:focus {
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}
.ngdialog.ngdialog-theme-default .ngdialog-buttons {
  *zoom: 1;
}
.ngdialog.ngdialog-theme-default .ngdialog-buttons:after {
  content: '';
  display: table;
  clear: both;
}
.ngdialog.ngdialog-theme-default .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}
.ngdialog.ngdialog-theme-default .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none;
}
@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-default .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}
.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-primary {
  background: #3288e6;
  color: #fff;
}
.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}

@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ngdialog {
  box-sizing: border-box;
}
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  box-sizing: inherit;
}
.ngdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ngdialog.ngdialog-disabled-animation,
.ngdialog.ngdialog-disabled-animation .ngdialog-overlay,
.ngdialog.ngdialog-disabled-animation .ngdialog-content {
  -webkit-animation: none!important;
  animation: none!important;
}
.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}
.ngdialog-no-overlay {
  pointer-events: none;
}
.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}
.ngdialog-content {
  background: white;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
  pointer-events: all;
}
.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}
.ngdialog-close {
  -webkit-appearance: none;
  background: none;
  border: none;
}
.ngdialog-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer;
}
html.ngdialog-open,
body.ngdialog-open {
  overflow: hidden;
}

.jq-toast-wrap,
.jq-toast-wrap * {
  margin: 0;
  padding: 0;
}
.jq-toast-wrap {
  display: block;
  position: fixed;
  width: 250px;
  pointer-events: none !important;
  letter-spacing: normal;
  z-index: 10001 !important;
}
.jq-toast-wrap.bottom-left {
  bottom: 20px;
  left: 20px;
}
.jq-toast-wrap.bottom-right {
  bottom: 20px;
  right: 40px;
}
.jq-toast-wrap.top-left {
  top: 20px;
  left: 20px;
}
.jq-toast-wrap.top-right {
  top: 20px;
  right: 40px;
}
.jq-toast-single {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 0 0 5px;
  border-radius: 4px;
  font-size: 12px;
  font-family: arial, sans-serif;
  line-height: 17px;
  position: relative;
  pointer-events: all !important;
  background-color: #444;
  color: #fff;
}
.jq-toast-single h2 {
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 0 0 7px;
  background: 0 0;
  color: inherit;
  line-height: inherit;
  letter-spacing: normal;
}
.jq-toast-single a {
  color: #eee;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
  font-size: 12px;
}
.jq-toast-single ul {
  margin: 0 0 0 15px;
  background: 0 0;
  padding: 0;
}
.jq-toast-single ul li {
  list-style-type: disc !important;
  line-height: 17px;
  background: 0 0;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}
.close-jq-toast-single {
  position: absolute;
  top: 3px;
  right: 7px;
  font-size: 14px;
  cursor: pointer;
}
.jq-toast-loader {
  display: block;
  position: absolute;
  top: -2px;
  height: 5px;
  width: 0;
  left: 0;
  border-radius: 5px;
  background: red;
}
.jq-toast-loaded {
  width: 100%;
  opacity: 0;
}
.jq-has-icon {
  padding: 10px 10px 10px 50px;
  background-repeat: no-repeat;
  background-position: 10px;
}
.jq-icon-info {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=);
  background-color: #31708f;
  color: #d9edf7;
  border-color: #bce8f1;
}
.jq-icon-warning {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=);
  background-color: #8a6d3b;
  color: #fcf8e3;
  border-color: #faebcc;
}
.jq-icon-error {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=);
  background-color: #a94442;
  color: #f2dede;
  border-color: #ebccd1;
}
.jq-icon-success {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==);
  color: #dff0d8;
  background-color: #3c763d;
  border-color: #d6e9c6;
}
