<div class="main_wrap">
    <div class="list_warp">
        <div class="list_box">
            <div class="site">
                <b>您当前所在的位置：</b><a>首页</a><a>商品管理</a><span>新增标签</span>
            </div>
            <form class="form_wrap">
                <div class="form_row">
                    <div class="form_l">标签名称：</div>
                    <div class="form_r"><input type="text" class="form_input_skin" placeholder="gylll"></div>
                </div>
                <div class="form_row">
                    <div class="form_l">商品分类：</div>
                    <div class="form_r">
                        <select class="form_input_skin">
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                        </select>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_l">备注：</div>
                    <div class="form_r">
                        <textarea rows="5"></textarea>
                    </div>
                </div>
                <div class="form_row">
                    <input type="button" class="form_btn" value="确定">
                </div>
            </form>
        </div>

    </div>
</div>