<div class="main_wrap">
     <div class="list_warp">
        <div class="list_box">
            <div class="site">
                <b>您当前所在的位置：</b><a>首页</a><a>商品管理</a><a>商品列表</a>
            </div>
            <div class="table_warp">
                <div class="search-bar">
                    <div class="item">
                        <div class="sch-txt">商品编号:</div>
                        <div class="sch-input"><input type="text" class="w-medium" ng-model="productParams.id"></div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">商品名称:</div>
                        <div class="sch-input"><input type="text" class="w-medium" ng-model="productParams.title"></div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">所属店铺:</div>
                        <div class="sch-input"><input type="text" class="w-medium" ng-model="productParams.shopName"></div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">发布时间:</div>
                        <div class="sch-input">
                            <input class="w-small laydate-icon" ng-laydate type="text" ng-model="productParams.createTime"/> 至
                            <input class="w-small laydate-icon" ng-laydate type="text" ng-model="productParams.endTime" min-date="{{productParams.createTime}}"/>
                        </div>
                    </div>
                    <!--<div class="item">
                        <div class="sch-txt">所属分类:</div>
                        <div class="sch-input">
                            <select>
                                <option value="0">企业连锁</option>
                                <option value="0">企业独营</option>
                            </select>
                            <select>
                                <option value="0">企业连锁</option>
                                <option value="0">企业独营</option>
                            </select>
                            <select>
                                <option value="0">企业连锁</option>
                                <option value="0">企业独营</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">状态:</div>
                        <div class="sch-input">
                            <select class="w-medium">
                                <option value="0">企业连锁</option>
                                <option value="0">企业独营</option>
                            </select>
                        </div>
                    </div>-->
                    <div class="item">
                        <div class="sch-btn">
                            <input type="button" class="sort_btn" value="搜索" ng-click="getSearch()">
                            <span ber-resert reset-obj="productParams"></span>
                        </div>
                    </div>
                </div>
                <table class="list_table">
                    <thead>
                        <tr>
                            <th>选择</th>
                            <th>商品编号</th>
                            <th class="left" width="20%">商品名称</th>
                            <th>所属店铺</th>
                            <th>商品分类</th>
                            <th>状态</th>
                            <th>商城价格</th>
                            <th>库存</th>
                            <th class="w-xsmall">发布时间</th>
                            <th class="w-xsmall">上架时间</th>
                            <th width="80">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in products">
                            <td><input ng-checked="item.selected" type="checkbox" ng-click="check(item)"></td>
                            <td ng-bind="item.id"></td>
                            <td>
                                <div class="td-pro">
                                    <a ui-sref="main.goodsDetail({id:item.id,type:productType})">
                                        <img ng-src="{{imgUrl+item.mainPicUrl+$root.$imgSize.XS}}" width="50" height="50">
                                        <p ng-bind="item.title">女包新款2013新款潮流女真皮包 包邮</p>
                                    </a>
                                </div>
                            </td>
                            <td ng-bind="item.shopName"></td>
                            <td ng-bind="item.categoryPathname"></td>
                            <td ng-bind="item.isSearch==1?'屏蔽':(item.productStatus==1?'上架':'下架')"></td>
                            <td ng-bind="item.price | currency:'￥'"></td>
                            <td ng-bind="item.stock"></td>
                            <td ng-bind="item.createTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
                            <td ng-bind="item.startSaleTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
                            <td class="option">
                                <a ng-if="item.productStatus!=1" ng-click="operate(item.id,item.productStatus!=1?'1':'2','up')">上架</a>
                                <a ng-if="item.isSearch!=1&&item.productStatus==1" ng-click="addLllegal(item.id,item.shopId)">违规</a>
                                <!--<a ng-if="item.productStatus==1" ng-click="operate(item.id,item.isSearch==1?'0':'1','batch')" ng-bind="item.isSearch==1?'恢复':'屏蔽'"></a>-->
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="conf.total<1">
                        <tr>
                            <td colspan="11">暂无数据！</td>
                        </tr>
                    </tbody>
                </table>
                <div class="pages">
                    <div class="batch-operate">
                        <label><input type="checkbox" ng-checked="checkAlls" ng-click="checkAll()">全选</label>
                        <!--<button class="bo-red">批量下架</button>-->
                        <button class="bo-red" ng-click="operate()">批量屏蔽</button>
                    </div>
                    <div ui-pagination conf="conf"></div>
                </div>
            </div>
        </div>
     </div>
</div>

<script type="text/ng-template" id="addLllegal">
    <h1>违规操作</h1>
    <div class="ngdialog-content">
        <form name="userForm">
            <dl>
                <dt><span class="red">*</span>违规类型：</dt>
                <dd>
                    <select class="w-medium" ng-model="checkedLllegal" ng-options="item.name for item in illegalType"></select>
                </dd>
            </dl>
            <dl>
                <dt><span class="red">*</span>违规原因：</dt>
                <dd>
                    <textarea ng-model="lllegalParams.illegalReason" rows="5" class="w-large" maxlength="255"></textarea>
                </dd>
            </dl>
        </form>
    </div>
    <div class="ngdialog-footer">
        <button class="btn-canle" ng-click="closeThisDialog(0)">取消</button>
        <button class="btn-enter" ng-click="enter()">确认</button>
    </div>
</script>

