<div class="main_wrap">
    <div class="list_warp">
        <div class="list_box">
            <div class="site">
                <b>您当前所在的位置：</b><a>首页</a><span>营销管理</span><span>新建活动</span>
            </div>
            <form class="form_wrap">
                <div class="form_row">
                    <div class="form_l"><span class="red">*</span>活动类型：</div>
                    <div class="form_r">
                        <select required>
                            <option>秒杀</option>
                            <option>团购</option>
                        </select>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_l"><span class="red">*</span>活动名称：</div>
                    <div class="form_r"><input type="text" class="form_input_skin" required></div>
                </div>
                <div class="form_row">
                    <div class="form_l">活动标签：</div>
                    <div class="form_r">
                        <label><input type="radio" name="actLabel">标签1</label>
                        <label><input type="radio" name="actLabel">标签2</label>
                        <label><input type="radio" name="actLabel">标签3</label> <br>
                        <select>
                            <option>更多</option>
                            <option>标签4</option>
                            <option>标签5</option>
                            <option>标签6</option>
                        </select>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_l"><span class="red">*</span>活动介绍：</div>
                    <div class="form_r">
                        <textarea rows="5" required></textarea>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_l"><span class="red">*</span>报名开始时间：</div>
                    <div class="form_r"><input type="text" class="form_input_skin" required></div>
                </div>
                <div class="form_row">
                    <div class="form_l"><span class="red">*</span>报名结束时间：</div>
                    <div class="form_r"><input type="text" class="form_input_skin" required></div>
                </div>
                <div class="form_row">
                    <div class="form_l"><span class="red">*</span>上架时间：</div>
                    <div class="form_r"><input type="text" class="form_input_skin" required></div>
                </div>
                <div class="form_row">
                    <div class="form_l"><span class="red">*</span>开始时间：</div>
                    <div class="form_r"><input type="text" class="form_input_skin" required></div>
                </div>
                <div class="form_row">
                    <div class="form_l"><span class="red">*</span>结束时间：</div>
                    <div class="form_r"><input type="text" class="form_input_skin" required></div>
                </div>
                <div class="form_row">
                    <div class="form_l"><span class="red">*</span>选择报名商户：</div>
                    <div class="form_r">
                        <label><input type="radio" name="selectShop" value="0" ng-click="" required>所有商户</label>
                        <label><input type="radio" name="selectShop" value="1" required>指定商户</label>
                        <a class="chose-btn">选择商户</a>
                    </div>
                </div>
                <div class="page_list_form form_row">
                    <div class="table_warp">
                        <div class="search-bar">
                            <div class="item">
                                <div class="sch-txt">地区:</div>
                                <div class="sch-input">
                                    <select class="w-medium">
                                        <option>广州</option>
                                        <option>深圳</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sch-txt">商圈:</div>
                                <div class="sch-input">
                                    <select class="w-medium">
                                        <option>珠江新城</option>
                                        <option>北京路</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sch-txt">类型:</div>
                                <div class="sch-input">
                                    <select class="w-medium">
                                        <option>类型1</option>
                                        <option>类型2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sch-txt">经营类目:</div>
                                <div class="sch-input">
                                    <select class="w-medium">
                                        <option>服装</option>
                                        <option>数码</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sch-txt">商户等级:</div>
                                <div class="sch-input">
                                    <select class="w-medium">
                                        <option>一级</option>
                                        <option>二级</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sch-btn">
                                    <input type="button" class="sort_btn" value="搜索">
                                </div>
                            </div>
                        </div>
                        <table class="list_table">
                            <thead>
                            <tr>
                                <th>选择</th>
                                <th>商户编号</th>
                                <th>商户名称</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>23232</td>
                                <td>十分士大夫士大夫</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>23232</td>
                                <td>十分士大夫士大夫</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>23232</td>
                                <td>十分士大夫士大夫</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="pages">
                            <div ui-pagination conf="confShop"></div>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_l"><span class="red">*</span>商户报名费用：</div>
                    <div class="form_r">
                        <input type="text" class="form_input_skin" value="0">
                        <span class="gray">0表示不用缴纳费用</span>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_l">活动招商联系人：</div>
                    <div class="form_r"><input type="text" class="form_input_skin" value="0"></div>
                </div>
                <div class="form_row">
                    <div class="form_l">活动招商联系人电话：</div>
                    <div class="form_r"><input type="text" class="form_input_skin" value="0"></div>
                </div>
                <div class="form_row">
                    <input type="button" class="form_btn" value="确定">
                </div>
            </form>
        </div>

    </div>
</div>