<div class="main_wrap">
    <div class="list_warp">
        <div class="list_box">
            <div class="site">
                <b>您当前所在的位置：</b><a>首页</a><a>营销管理</a><a>平台活动列表</a>
                <div class="operate">
                    <button ui-sref="main.createMkAct">新建活动</button>
                </div>
            </div>
            <div class="table_warp">
                <div class="search-bar">
                    <div class="item">
                        <div class="sch-txt">活动编号:</div>
                        <div class="sch-input"><input type="text" class="sort_input_skin"></div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">活动名称:</div>
                        <div class="sch-input"><input type="text" class="sort_input_skin"></div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">创建时间:</div>
                        <div class="sch-input">
                            <input type="text" class="sort_input_skin"> 至 <input type="text" class="sort_input_skin">
                        </div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">活动类型：</div>
                        <div class="sch-input">
                            <select>
                                <option value="0">全部</option>
                                <option value="0">秒杀</option>
                                <option value="0">团购</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">活动状态：</div>
                        <div class="sch-input">
                            <select>
                                <option value="0">全部</option>
                                <option value="0">报名中</option>
                                <option value="0">待开始</option>
                                <option value="0">进行中</option>
                                <option value="0">已结束</option>
                                <option value="0">已终止</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div class="sch-btn">
                            <input type="button" class="sort_btn" value="搜索">
                        </div>
                    </div>
                </div>
                <table class="list_table">
                    <thead>
                    <tr>
                        <th>活动编号</th>
                        <th>活动名称</th>
                        <th>活动类型</th>
                        <th>报名时间段</th>
                        <th>上架时间</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>创建人</th>
                        <th>活动创建日期</th>
                        <th>活动状态</th>
                        <th width="15%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>113121</td>
                        <td>9.9元秒杀</td>
                        <td>秒杀</td>
                        <td>2015-07-03 13:00 ~ 2015-07-03 13:15</td>
                        <td>2015-07-03 13:00</td>
                        <td>2015-07-03 13:00</td>
                        <td>2015-07-03 13:00</td>
                        <td>admin</td>
                        <td>2015-06-30 15:00</td>
                        <td>进行中</td>
                        <td class="option">
                            <a ui-sref="main.platformMkActDetail({id:111})">详情</a>
                            <a ng-click="shopList(1)">商户名单</a>
                            <a ng-click="goodsList(1)">商品名单</a>
                            <a ng-click="actStop(1)">终止</a>
                        </td>
                    </tr>
                    <tr>
                        <td>113121</td>
                        <td>9.9元秒杀</td>
                        <td>秒杀</td>
                        <td>2015-07-03 13:00 ~ 2015-07-03 13:15</td>
                        <td>2015-07-03 13:00</td>
                        <td>2015-07-03 13:00</td>
                        <td>2015-07-03 13:00</td>
                        <td>admin</td>
                        <td>2015-06-30 15:00</td>
                        <td>已结束</td>
                        <td class="option">
                            <a ui-sref="main.platformMkActDetail({id:111})">详情</a>
                            <a ng-click="shopList(1)">商户名单</a>
                            <a ng-click="goodsList(1)">商品名单</a>
                        </td>
                    </tr>
                    <tr>
                        <td>113121</td>
                        <td>9.9元秒杀</td>
                        <td>秒杀</td>
                        <td>2015-07-03 13:00 ~ 2015-07-03 13:15</td>
                        <td>2015-07-03 13:00</td>
                        <td>2015-07-03 13:00</td>
                        <td>2015-07-03 13:00</td>
                        <td>admin</td>
                        <td>2015-06-30 15:00</td>
                        <td>报名中</td>
                        <td class="option">
                            <a ui-sref="main.platformMkActDetail({id:111})">详情</a>
                            <a ng-click="shopList(1)">商户名单</a>
                            <a ng-click="goodsList(1)">商品名单</a>
                        </td>
                    </tr>
                    <tr>
                        <td>113121</td>
                        <td>9.9元秒杀</td>
                        <td>秒杀</td>
                        <td>2015-07-03 13:00 ~ 2015-07-03 13:15</td>
                        <td>2015-07-03 13:00</td>
                        <td>2015-07-03 13:00</td>
                        <td>2015-07-03 13:00</td>
                        <td>admin</td>
                        <td>2015-06-30 15:00</td>
                        <td>待开始</td>
                        <td class="option">
                            <a ui-sref="main.platformMkActDetail({id:111})">详情</a>
                            <a ng-click="shopList(1)">商户名单</a>
                            <a ng-click="goodsList(1)">商品名单</a>
                        </td>
                    </tr>
                    <tr>
                        <td>113121</td>
                        <td>9.9元秒杀</td>
                        <td>秒杀</td>
                        <td>2015-07-03 13:00 ~ 2015-07-03 13:15</td>
                        <td>2015-07-03 13:00</td>
                        <td>2015-07-03 13:00</td>
                        <td>2015-07-03 13:00</td>
                        <td>admin</td>
                        <td>2015-06-30 15:00</td>
                        <td>已终止</td>
                        <td class="option">
                            <a ui-sref="main.platformMkActDetail({id:111})">详情</a>
                            <a ng-click="shopList(1)">商户名单</a>
                            <a ng-click="goodsList(1)">商品名单</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pages">
                    <div ui-pagination conf="conf"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="actShop">
    <div shop-list></div>
</script>

<script type="text/ng-template" id="actGoods">
    <h1>活动商品列表</h1>
    <div class="ngdialog-content">
        <table>
            <thead>
            <tr>
                <th>序号</th>
                <th>商品编号</th>
                <th>商品名称</th>
                <th>所属商户</th>
                <th>所属店铺</th>
                <th>数量</th>
                <th>秒杀价</th>
                <th>商城价</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>0392928</td>
                <td>上海迪士尼度假区（儿童票）</td>
                <td>上海迪士尼度假区</td>
                <td>上海迪士尼度假区</td>
                <td>1000</td>
                <td>9.9</td>
                <td>280</td>
            </tr>
            <tr>
                <td>2</td>
                <td>0392928</td>
                <td>上海迪士尼度假区（儿童票）</td>
                <td>上海迪士尼度假区</td>
                <td>上海迪士尼度假区</td>
                <td>1000</td>
                <td>9.9</td>
                <td>280</td>
            </tr>
            </tbody>
        </table>
        <div class="pages">
            <div ui-pagination conf="confGoods"></div>
        </div>
    </div>
</script>
