<div class="main_wrap">
    <div class="list_warp">
        <div class="list_box">
            <div class="site">
                <b>您当前所在的位置：</b><a>首页</a><a>审核管理</a><a>秒杀商品审核</a>
            </div>
            <div class="table_warp">
                <div class="search-bar">
                    <div class="item">
                        <div class="sch-txt">活动编号:</div>
                        <div class="sch-input"><input type="text" class="w-medium"></div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">活动名称:</div>
                        <div class="sch-input"><input type="text" class="w-medium"></div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">商品名称:</div>
                        <div class="sch-input"><input type="text" class="w-medium"></div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">活动创建时间:</div>
                        <div class="sch-input">
                            <input type="text" class="w-small"> 至 <input type="text" class="w-small">
                        </div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">所属店铺:</div>
                        <div class="sch-input">
                            <select class="w-medium">
                                <option value="0">店铺1</option>
                                <option value="0">店铺2</option>
                                <option value="0">店铺3</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">审核状态:</div>
                        <div class="sch-input">
                            <select class="w-medium">
                                <option value="0">全部</option>
                                <option value="0">待审核</option>
                                <option value="0">审核不通过</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div class="sch-btn">
                            <input type="button" class="sort_btn" value="搜索">
                        </div>
                    </div>
                </div>
                <table class="list_table">
                    <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>活动编号</th>
                        <th>活动名称</th>
                        <th>活动创建时间</th>
                        <th>活动状态</th>
                        <th>所属店铺</th>
                        <th>商品名称</th>
                        <th>秒杀价格</th>
                        <th>库存</th>
                        <th>审核状态</th>
                        <th width="15%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>11122211210</td>
                        <td>COACH</td>
                        <td>2017-01-22 14:29:31</td>
                        <td>报名中</td>
                        <td>店铺1</td>
                        <td>手袋</td>
                        <td>999</td>
                        <td>50</td>
                        <td>待审核</td>
                        <td class="option">
                            <a ui-sref="main.secKillExamineDetail({flag:'examine',id:111})">审核</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>11122211210</td>
                        <td>华为P10</td>
                        <td>2017-01-22 14:29:31</td>
                        <td>报名中</td>
                        <td>店铺2</td>
                        <td>P10</td>
                        <td>5999</td>
                        <td>10</td>
                        <td>待审核</td>
                        <td class="option">
                            <a ui-sref="main.secKillExamineDetail({flag:'examine',id:111})">审核</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>11122211210</td>
                        <td>维达</td>
                        <td>2017-01-22 14:29:31</td>
                        <td>报名中</td>
                        <td>店铺3</td>
                        <td>纸巾200克</td>
                        <td>30</td>
                        <td>1000</td>
                        <td>审核不通过</td>
                        <td class="option">
                            <a ui-sref="main.secKillExamineDetail({flag:'examine',id:111})">详情</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pages">
                    <div class="batch-operate">
                        <button class="bo-red">批量审核通过</button>
                        <button class="bo-red">批量审核不通过</button>
                    </div>
                    <div ui-pagination conf="conf"></div>
                </div>
            </div>
        </div>
    </div>
</div>

