<div>
    <h1>活动商户列表</h1>
    <div class="ngdialog-content">
        <table>
            <thead>
            <tr>
                <th>序号</th>
                <th>商户编号</th>
                <th>商户名称</th>
                <th>地区</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>113121002929</td>
                <td>上海迪士尼度假区</td>
                <td>上海市</td>
            </tr>
            <tr>
                <td>2</td>
                <td>113121002929</td>
                <td>上海迪士尼度假区</td>
                <td>上海市</td>
            </tr>
            <tr>
                <td>3</td>
                <td>113121002929</td>
                <td>上海迪士尼度假区</td>
                <td>上海市</td>
            </tr>
            </tbody>
        </table>
        <div class="pages">
            <div ui-pagination conf="confShop"></div>
        </div>
    </div>
</div>