<div class="main_wrap">
    <div class="list_warp">
        <div class="list_box">
            <div class="site">
                <b>您当前所在的位置：</b><a>首页</a><span>营销中心</span><span>{{pageType}}秒杀活动</span>
            </div>
            <div class="pd_main">
                <div class="big_part_one">
                    <div class="big_part_tit">新建 秒杀优惠活动
                        <span class="tit_right">
                            <input type="button" class="btn-white" value="返回列表" ui-sref-active="cut" ui-sref="main.seckillMkAct">
                        </span>
                    </div>
                    <div>
                        <div class="act_box">
                            <div class="bgGrey_tit">
                                第一步 设置活动名称及时间
                                <a ng-click="showStep1=!showStep1" class="spread_btn">
                                    <i ng-class="['iconfont',{'icon-spreadup': !showStep1}, {'icon-zhankai': showStep1}]"></i>
                                </a>
                            </div>
                            <!--活动信息表单 创建或编辑-->
                            <form class="form_wrap" name="actForm" ng-show="showStep1 && !actId">
                                <div class="form_row">
                                    <div class="form_l"><span class="red">*</span>活动名称：</div>
                                    <div class="form_r">
                                        <input type="text" class="form_input_skin" name="actName" ng-model="act.actName" required ng-maxLength="15" maxlength="15">
                                        <span class="to_space">{{act.actName.length||0}}/15</span>
                                        <span ng-messages="actForm.actName.$error" ng-if="actForm.actName.$touched" class="red">
                                            <span required-error></span>
                                            <span maxlength-error conf="{maxLength:15}"></span>&nbsp;
                                        </span>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_l"><span class="red">*</span>活动介绍：</div>
                                    <div class="form_r">
                                        <textarea rows="5" name="description" ng-model="act.description" required ng-maxLength="200"></textarea>
                                        <span ng-messages="actForm.description.$error" ng-if="actForm.description.$touched" class="red">
                                            <span required-error></span>
                                            <span maxlength-error conf="{maxLength:200}"></span>&nbsp;
                                        </span>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_l"><span class="red">*</span>预热时间：</div>
                                    <div class="form_r">
                                        <input type="text" class="form_input_skin laydate-icon" name="preheatTime" ng-model="act.preheatTime" required
                                               ng-laydate istime="true" issecond="false" format="YYYY-MM-DD hh:mm:ss" max-date="{{act.beginTime}}" min-date="{{canPreheatTime | date:'yyyy-MM-dd HH:mm:ss'}}" minuteset="half">
                                        <span ng-messages="actForm.preheatTime.$error" ng-if="actForm.preheatTime.$touched" class="red">
                                            <span required-error></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_l"><span class="red">*</span>活动开始时间：</div>
                                    <div class="form_r">
                                        <input type="text" class="form_input_skin laydate-icon" name="beginTime" ng-model="act.beginTime" required
                                               ng-laydate istime="true" issecond="false" format="YYYY-MM-DD hh:mm:ss" max-date="{{act.endTime}}" min-date="{{act.preheatTime || (canPreheatTime | date:'yyyy-MM-dd HH:mm:ss')}}" minuteset="half">
                                        <span ng-messages="actForm.beginTime.$error" ng-if="actForm.beginTime.$touched" class="red">
                                            <span required-error></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_l"><span class="red">*</span>活动结束时间：</div>
                                    <div class="form_r">
                                        <input type="text" class="form_input_skin laydate-icon" name="endTime" ng-model="act.endTime" required
                                               ng-laydate istime="true" issecond="false" format="YYYY-MM-DD hh:mm:ss" min-date="{{act.beginTime || act.preheatTime || (canPreheatTime | date:'yyyy-MM-dd HH:mm:ss')}}" minuteset="half">
                                        <span ng-messages="actForm.endTime.$error" ng-if="actForm.endTime.$touched" class="red">
                                            <span required-error></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_l"><span class="red">*</span>活动商品分类：</div>
                                    <div class="form_r">
                                        <label><input type="radio" name="categoryType" ng-model="act.categoryType" value="REAL" required>实物类</label>
                                        <span ng-messages="actForm.categoryType.$error" ng-if="actForm.categoryType.$touched" class="red">
                                            <span required-error></span>&nbsp;
                                        </span>
                                    </div>
                                </div>
                                <div class="form_row">
                                    <input type="button" class="form_btn" value="下一步" ng-if="actForm.$invalid" ng-click="actFormWarn()">
                                    <input type="button" class="form_btn" value="下一步" ng-if="!actForm.$invalid" ng-click="actSubmit()">
                                </div>
                            </form>
                            <!--保存活动信息后，不能再修改，只能显示-->
                            <form class="form_wrap" name="actForm" ng-show="showStep1 && actId">
                                <div class="form_row">
                                    <div class="form_l">活动名称：</div>
                                    <div class="form_r" ng-bind="act.actName"></div>
                                </div>
                                <div class="form_row">
                                    <div class="form_l">活动介绍：</div>
                                    <div class="form_r" ng-bind="act.description"></div>
                                </div>
                                <div class="form_row">
                                    <div class="form_l">预热时间：</div>
                                    <div class="form_r" ng-bind="act.preheatTime | date:'yyyy-MM-dd HH:mm:ss'"></div>
                                </div>
                                <div class="form_row">
                                    <div class="form_l">活动开始时间：</div>
                                    <div class="form_r" ng-bind="act.beginTime | date:'yyyy-MM-dd HH:mm:ss'"></div>
                                </div>
                                <div class="form_row">
                                    <div class="form_l">活动结束时间：</div>
                                    <div class="form_r" ng-bind="act.endTime | date:'yyyy-MM-dd HH:mm:ss'"></div>
                                </div>
                                <div class="form_row">
                                    <div class="form_l">活动商品分类：</div>
                                    <div class="form_r">实物类</div>
                                </div>
                            </form>
                        </div>
                        <div class="act_box">
                            <div class="bgGrey_tit">
                                第二步 选择活动商品
                                <a ng-click="showStep2=!showStep2" class="spread_btn">
                                    <i ng-class="['iconfont',{'icon-spreadup': !showStep2}, {'icon-zhankai': showStep2}]"></i>
                                </a>
                            </div>
                            <div class="page_list_form form_row" ng-show="showStep2">
                                <div class="table_warp">
                                    <div class="search-bar" style="display: block">
                                        <div class="item">
                                            <div class="sch-txt">商品编号：</div>
                                            <div class="sch-input">
                                                <input type="text" ng-model="productListParams.prodId" num-input is-negative="true">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sch-txt">商品名称：</div>
                                            <div class="sch-input">
                                                <input type="text" ng-model="productListParams.title">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sch-txt">店铺名称：</div>
                                            <div class="sch-input">
                                                <input type="text" ng-model="productListParams.shopName">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sch-txt">商品分类：</div>
                                            <div class="sch-input" style="width:78%;">
                                                <div ng-category  ng-model="selectCategory" category-type="{id:0,isParent:true}"></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sch-btn">
                                                <input type="button" class="sort_btn" value="搜索" ng-click="searchProduct()">
                                            </div>
                                        </div>
                                    </div>
                                    <table class="list_table">
                                        <thead>
                                        <tr>
                                            <th>商品编号</th>
                                            <th>商品信息</th>
                                            <th>单价</th>
                                            <th>所属店铺</th>
                                            <th>商品分类</th>
                                            <th>操作 <input type="checkbox" ng-model="checkAlls" ng-click="checkAll()"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="product in productList">
                                            <td ng-bind="product.id"></td>
                                            <td style="text-align: left;">
                                                <a class="img_align">
                                                    <img ng-src="{{imgBaseUrl+product.mainPicUrl+$root.$imgSize.XS}}" width="50"/>
                                                    <span ng-bind="product.title"></span>
                                                </a>
                                            </td>
                                            <td ng-bind="product.price | currency : '￥'"></td>
                                            <td ng-bind="product.shopName"></td>
                                            <td ng-bind="product.catName"></td>
                                            <td>
                                                <input type="checkbox" ng-click="checkProduct(product)" ng-checked="product.selected">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="pages">
                                        <div ui-pagination conf="conf"></div>
                                    </div>
                                </div>
                                <input type="button" ng-click="confirmProduct()" class="btn-blue ml_10" value="确定选择">
                            </div>
                        </div>
                        <div class="act_box">
                            <div class="bgGrey_tit">
                                第三步 设置商品活动价格折扣
                                <a ng-click="showStep3=!showStep3" class="spread_btn">
                                    <i ng-class="['iconfont',{'icon-spreadup': !showStep3}, {'icon-zhankai': showStep3}]"></i>
                                </a>
                            </div>
                            <div class="page_list_form form_row" ng-show="showStep3">
                                <div class="table_warp">
                                    <div class="search-bar" style="display: block">
                                        <div class="item">
                                            <div class="sch-txt">每人限购：</div>
                                            <div class="sch-input">
                                                <input type="text" ng-model="allLimitBuyAmount" num-input is-negative="true" maxlength="4"> 件
                                                <input type="button" class="sort_btn" value="确定" ng-click="setLimitBuyAmount()">
                                            </div>
                                        </div>
                                    </div>
                                    <table class="list_table">
                                        <thead>
                                        <tr>
                                            <th width="40%">商品信息</th>
                                            <th>单价</th>
                                            <th>所属店铺</th>
                                            <th>促销价</th>
                                            <th>每人限购数</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="product in selectedProductList">
                                            <td style="text-align: left;">
                                                <a class="img_align">
                                                    <img ng-src="{{imgBaseUrl+product.productMainPic+$root.$imgSize.XS}}" width="50"/>
                                                    <span ng-bind="product.productTitle"></span>
                                                </a>
                                            </td>
                                            <td ng-bind="product.productPrice | currency : '￥'"></td>
                                            <td ng-bind="product.shopName"></td>
                                            <td>
                                                <a class="blue_txt" ng-click="openSkuSetBox(product)">SKU优惠设置</a>
                                            </td>
                                            <td>
                                                <input type="text" ng-model="product.limitBuyAmount" num-input is-negative="true" maxlength="4">
                                            </td>
                                            <td>
                                                <a ng-click="delProduct(product)">删除</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <input type="button" name="" class="btn-blue ml_10" value="完成创建" ng-click="productSetSubmit()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<script type="text/ng-template" id="skuSettingTemplate">
    <div class="tab_box" style="padding:0">
        <h1>活动商品SKU设置</h1>
        <div class="tab_content">
            <div class="act_sear">
                <span class="act_span">批量设置：</span>
                <span class="act_span">促销价</span>
                <input ng-model="skuBatSet.actPrice" class="form_xs_input_skin" type="text">
                <span class="act_span">元</span>&nbsp;&nbsp;
                <span class="act_span">活动库存</span>
                <input ng-model="skuBatSet.actStock" class="form_xs_input_skin" type="text">
                <input type="button" name="" class="btn-blue" value="确定" ng-click="skuBatch()">
            </div>
            <table class="form_table">
                <thead>
                <tr class="bgGrey_th">
                    <th>SKU</th>
                    <th>单价</th>
                    <th>促销价</th>
                    <th>活动库存</th>
                </tr>
                </thead>
                <tbody class="has_con">
                <tr ng-repeat="item in skuList">
                    <td>
                        <p class="pro_tit" ng-bind="item.skuDescription"></p>
                    </td>
                    <td class="orange_txt" ng-bind="item.skuPrice"></td>
                    <td>
                        <input type="text" num-input is-float="true" ng-max="1000000" ng-model="item.actPrice" class="w_80">元
                    </td>
                    <td>
                        <input type="text" num-input ng-max="1000" ng-model="item.actStock" class="w_80">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">取消</button>
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">确认</button>
        </div>
    </div>
</script>