<div class="main_wrap">
    <div class="list_warp">
        <div class="list_box">
            <div class="site">
                <b>您当前所在的位置：</b><a>首页</a><a>售后管理</a><a>退款列表</a>
            </div>
            <div class="table_warp">
                <div class="search-bar">
                    <div class="item">
                        <div class="sch-txt">退款编号:</div>
                        <div class="sch-input"><input ng-model="params.id" type="text" num-input class="sort_input_skin"></div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">订单编号:</div>
                        <div class="sch-input"><input ng-model="params.orderId" type="text" num-input class="sort_input_skin"></div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">商品名称：</div>
                        <div class="sch-input"><input ng-model="params.title" type="text" class="sort_input_skin"></div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">退款状态：</div>
                        <div class="sch-input">
                            <select ng-model="params.stat">
                                <option value="">全部</option>
                                <option value="wait_agree">待卖家确认</option>
                                <option value="in_process">退款处理中</option>
                                <option value="refused">卖家拒绝</option>
                                <option value="close">已关闭</option>
                                <option value="ebank_deal_success">退款成功</option>
                                <option value="ebank_deal_failed">退款失败</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">买家账号：</div>
                        <div class="sch-input"><input ng-model="params.memberAccount" type="text" class="sort_input_skin"></div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">店铺名称：</div>
                        <div class="sch-input"><input ng-model="params.shopName" type="text" class="sort_input_skin"></div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">申请时间:</div>
                        <div class="sch-input">
                            <input type="text" ng-laydate max-date='{{params.end}}' class="sort_input_skin_s laydate-icon" ng-model="params.begin">                            -
                            <input type="text" ng-laydate min-date='{{params.begin}}' class="sort_input_skin_s laydate-icon" ng-model="params.end">
                        </div>  
                    </div>
                    <div class="item">
                        <div class="sch-btn">
                            <input type="button" class="sort_btn" value="搜索" ng-click="loadData()">
                            <input ng-click="params = {index:0, size:params.size}" type="button" class="reset_btn" value="重置">
                        </div>
                    </div>
                </div>
                <table class="list_table">
                    <thead>
                        <tr>
                            <th>退款编号</th>
                            <th>订单编号</th>
                            <th>买家账号</th>
                            <th>店铺名称</th>
                            <th>订单金额</th>
                            <th>退款金额</th>
                            <th class="w-xs">申请时间</th>
                            <th>退款状态</th>
                            <th>申请介入</th>
                            <th class="w-xs">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm">
                            <td>{{item.id}}</td>
                            <td>{{item.orderId}}</td>
                            <td>{{item.memberAccount}}</td>
                            <td>{{item.shopName}}</td>
                            <td>{{item.orderAmount|currency:'￥'}}</td>
                            <td>{{item.refundAmount|currency:'￥'}}</td>
                            <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{item.status}}</td>
                            <td>买家申请介入</td>
                            <td class="option">
                                <a ui-sref="main.refundDetail({id:item.id})">详情</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pages">
                    <div ui-pagination conf="conf"></div>
                </div>
            </div>
        </div>
    </div>
</div>