<div class="main_wrap">
    <div class="list_warp">
        <div class="list_box">
            <div class="site">
                <b>您当前所在的位置：</b><a>首页</a><a>内容管理</a><span>新建类目</span>
            </div>
            <form class="form_wrap">
                <div class="form_row">
                    <div class="form_l">页面名称：</div>
                    <div class="form_r">
                        <select class="form_input_skin">
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                        </select>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_l">类目名称：</div>
                    <div class="form_r">
                        <select class="form_input_skin">
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                            <option>渠道</option>
                        </select>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_l">类目图标：</div>
                    <div class="form_r">
                        <img class="upload-img" src="../../images/upload_img.png" alt="">
                        <p>请上传60*60尺寸、大小200K以下的图片。</p>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_l">类目排序：</div>
                    <div class="form_r">
                        <input type="text" class="form_input_skin">
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_l">跳转类型：</div>
                    <div class="form_r">
                        <select class="form_input_skin">
                            <option value="0">类目入口</option>
                            <option value="1">快捷入口</option>
                            <option class="2">url跳转</option>
                        </select>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_l">商品分类：</div>
                    <div class="form_r">
                        <div class="pro-category">
                            <ul id="treeDemo" class="ztree"></ul>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <input type="button" class="form_btn" value="确定">
                </div>
            </form>
        </div>

    </div>
</div>
