<div class="main_wrap">
    <div class="list_warp">
        <div class="list_box">
            <div class="site">
                <b>您当前所在的位置：</b><a>首页</a><a>内容管理</a><a>图片管理</a>
            </div>
            <div class="table_warp">
                <div class="search-bar">
                    <div class="item">
                        <div class="sch-txt">所属商户:</div>
                        <div class="sch-input"><input type="text" class="sort_input_skin"></div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">上传时间:</div>
                        <div class="sch-input">
                            <input type="text" class="sort_input_skin laydate-icon" id="start"> 至
                            <input type="text" class="sort_input_skin laydate-icon" id="end">
                        </div>
                    </div>
                    <div class="item">
                        <div class="sch-btn">
                            <input type="button" class="sort_btn" value="搜索">
                        </div>
                    </div>
                </div>
                <ul class="images-list">
                    <li>
                        <div class="imgbox">
                            <img src="images/tem_pro.png" alt="">
                        </div>
                        <div class="imgname">三星(SAMSUNG)Galaxy</div>
                        <div class="time">上传时间：2016-09-08 12:00</div>
                        <div class="author">上传者：skyline</div>
                        <div class="operate">
                            <input type="checkbox">
                            <button>删除</button>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="images/tem_pro.png" alt="">
                        </div>
                        <div class="imgname">三星(SAMSUNG)Galaxy</div>
                        <div class="time">上传时间：2016-09-08 12:00</div>
                        <div class="author">上传者：skyline</div>
                        <div class="operate">
                            <input type="checkbox">
                            <button>删除</button>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="images/tem_pro.png" alt="">
                        </div>
                        <div class="imgname">三星(SAMSUNG)Galaxy</div>
                        <div class="time">上传时间：2016-09-08 12:00</div>
                        <div class="author">上传者：skyline</div>
                        <div class="operate">
                            <input type="checkbox">
                            <button>删除</button>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="images/tem_pro.png" alt="">
                        </div>
                        <div class="imgname">三星(SAMSUNG)Galaxy</div>
                        <div class="time">上传时间：2016-09-08 12:00</div>
                        <div class="author">上传者：skyline</div>
                        <div class="operate">
                            <input type="checkbox">
                            <button>删除</button>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="images/tem_pro.png" alt="">
                        </div>
                        <div class="imgname">三星(SAMSUNG)Galaxy</div>
                        <div class="time">上传时间：2016-09-08 12:00</div>
                        <div class="author">上传者：skyline</div>
                        <div class="operate">
                            <input type="checkbox">
                            <button>删除</button>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="images/tem_pro.png" alt="">
                        </div>
                        <div class="imgname">三星(SAMSUNG)Galaxy</div>
                        <div class="time">上传时间：2016-09-08 12:00</div>
                        <div class="author">上传者：skyline</div>
                        <div class="operate">
                            <input type="checkbox">
                            <button>删除</button>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="images/tem_pro.png" alt="">
                        </div>
                        <div class="imgname">三星(SAMSUNG)Galaxy</div>
                        <div class="time">上传时间：2016-09-08 12:00</div>
                        <div class="author">上传者：skyline</div>
                        <div class="operate">
                            <input type="checkbox">
                            <button>删除</button>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="images/tem_pro.png" alt="">
                        </div>
                        <div class="imgname">三星(SAMSUNG)Galaxy</div>
                        <div class="time">上传时间：2016-09-08 12:00</div>
                        <div class="author">上传者：skyline</div>
                        <div class="operate">
                            <input type="checkbox">
                            <button>删除</button>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="images/tem_pro.png" alt="">
                        </div>
                        <div class="imgname">三星(SAMSUNG)Galaxy</div>
                        <div class="time">上传时间：2016-09-08 12:00</div>
                        <div class="author">上传者：skyline</div>
                        <div class="operate">
                            <input type="checkbox">
                            <button>删除</button>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="images/tem_pro.png" alt="">
                        </div>
                        <div class="imgname">三星(SAMSUNG)Galaxy</div>
                        <div class="time">上传时间：2016-09-08 12:00</div>
                        <div class="author">上传者：skyline</div>
                        <div class="operate">
                            <input type="checkbox">
                            <button>删除</button>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <img src="images/tem_pro.png" alt="">
                        </div>
                        <div class="imgname">三星(SAMSUNG)Galaxy</div>
                        <div class="time">上传时间：2016-09-08 12:00</div>
                        <div class="author">上传者：skyline</div>
                        <div class="operate">
                            <input type="checkbox">
                            <button>删除</button>
                        </div>
                    </li>
                </ul>
                <div class="pages">
                    <div ui-pagination conf="conf"></div>
                </div>
            </div>
        </div>
    </div>
</div>