<div class="main_wrap">
    <div class="list_warp">
        <div class="list_box">
            <div class="site">
                <b>您当前所在的位置：</b><a>首页</a><a>交易管理</a><a>缴费明细</a>
            </div>
            <div class="tab_box">
                <ul class="tab-title">
                    <li class="active"><a>缴费明细</a></li>
                    <li><input type="button" class="back_btn" ui-sref="main.payment" value="返回"></li>
                </ul>
                <div class="tab_content">
                    <table class="form_table">
                        <tr>
                            <th width="25%">缴费类型</th>
                            <td width="25%">电费</td>
                            <th width="25%">缴费单号</th>
                            <td width="25%">22201610088766536543</td>
                        </tr>
                        <tr>
                            <th>单位编号</th>
                            <td>04030303</td>
                            <th>缴费号</th>
                            <td>040300386001351</td>
                        </tr>
                        <tr>
                            <th>结算户名称</th>
                            <td>刘善发</td>
                            <th>用电地址</th>
                            <td>百寿乡寿城村陵园</td>
                        </tr>
                        <tr>
                            <th>缴费金额</th>
                            <td>88.88 元</td>
                            <th>缴费时间</th>
                            <td>2017-01-22 16:30:00</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
