<div class="main_wrap">
    <div class="list_warp">
        <div class="list_box">
            <div class="site">
                <b>您当前所在的位置：</b><a>首页</a><a>系统管理</a><a>操作日志</a>
            </div>
            <div class="table_warp">
                <div class="search-bar">
                    <div class="item">
                        <div class="sch-txt">操作时间:</div>
                        <div class="sch-input">
                            <input type="text" id="start" class="sort_input_skin laydate-icon"> -
                            <input type="text" id="end" class="sort_input_skin laydate-icon">
                        </div>
                    </div>
                    <div class="item">
                        <div class="sch-txt">操作员:</div>
                        <div class="sch-input"><input type="text" class="sort_input_skin"></div>
                    </div>
                    <div class="item">
                        <input type="button" class="sort_btn" value="搜索">
                    </div>
                </div>
                <table class="list_table">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>操作员</th>
                        <th>操作时间</th>
                        <th>操作时间</th>
                        <th>操作记录</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2016030432001</td>
                        <td>admin</td>
                        <td>2016-12-12 11:11:13</td>
                        <td>审核管理</td>
                        <td>[审核管理]>>[商户审核列表] 审核商户，商户ID:4343</td>
                    </tr>
                    <tr>
                        <td>2016030432001</td>
                        <td>admin</td>
                        <td>2016-12-12 11:11:13</td>
                        <td>审核管理</td>
                        <td>[审核管理]>>[商户审核列表] 审核商户，商户ID:4343</td>
                    </tr>
                    <tr>
                        <td>2016030432001</td>
                        <td>admin</td>
                        <td>2016-12-12 11:11:13</td>
                        <td>审核管理</td>
                        <td>[审核管理]>>[商户审核列表] 审核商户，商户ID:4343</td>
                    </tr>
                    <tr>
                        <td>2016030432001</td>
                        <td>admin</td>
                        <td>2016-12-12 11:11:13</td>
                        <td>审核管理</td>
                        <td>[审核管理]>>[商户审核列表] 审核商户，商户ID:4343</td>
                    </tr>
                    <tr>
                        <td>2016030432001</td>
                        <td>admin</td>
                        <td>2016-12-12 11:11:13</td>
                        <td>审核管理</td>
                        <td>[审核管理]>>[商户审核列表] 审核商户，商户ID:4343</td>
                    </tr>
                    </tbody>
                </table>
                <div class="pages">
                    <div ui-pagination conf="conf"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="addRole">
    <h1>添加角色</h1>
    <div class="ngdialog-content">
        <form name="userForm">
            <dl>
                <dt><span class="red">*</span>角色名称：</dt>
                <dd><input type="text" class="w-medium" required minlength="5"></dd>
            </dl>
            <dl>
                <dt><span class="red">*</span>所属机构：</dt>
                <dd>
                    <select class="w-small">
                        <option value="0">渠道</option>
                        <option value="1">渠道</option>
                        <option value="2">渠道</option>
                    </select>
                    <select class="w-small">
                        <option value="0">渠道</option>
                        <option value="1">渠道</option>
                        <option value="2">渠道</option>
                    </select>
                    <select class="w-small">
                        <option value="0">渠道</option>
                        <option value="1">渠道</option>
                        <option value="2">渠道</option>
                    </select>
                </dd>
            </dl>
            <dl>
                <dt>描述：</dt>
                <dd>
                    <textarea class="w-large" rows="5"></textarea>
                </dd>
            </dl>
        </form>
    </div>
    <div class="ngdialog-footer">
        <button class="btn-canle" ng-click="closeThisDialog(0)">取消</button>
        <button class="btn-enter" ng-click="enter()">确认</button>
    </div>
</script>

