<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script type="text/javascript">
    //图片服务器回调
    var paramsObj = {};
    decodeURIComponent(window.location.search.substr(1)).split('&').map(function (obj) {
        var kv = obj.split('=');
        paramsObj[kv[0]] = kv[1];
        return kv[0];
    });
    window.parent.SetInfoPicUrl(paramsObj);
</script>
</body>
</html>